<div class="content vh-100 vw-100 ">
  <div class="container mt-5 vw-70">
    <div class="jumbotron text-center">
        <div class="card p-4" style="background-color: white;">
          <h1 class="display-4">Bienvenido!</h1>
          <p class="lead">Ingrese a la Clinica OnLine.</p>
          <hr class="my-4">
          <p>Click the buttons below to login or register.</p>
          <p class="lead px-2">
            <a class="btn btn-primary btn-lg mr-3" routerLink="/login" role="button">Iniciar Sesión</a>
            <a class="btn btn-secondary btn-lg" routerLink="/registro" role="button">Registrarse</a>
          </p>
        </div>
    </div>
  </div>
</div>